USE [master]
GO
/****** Object:  Database [391project1]    Script Date: 2024-02-10 4:07:51 PM ******/
CREATE DATABASE [391project1]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'391project1', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\391project1.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'391project1_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\391project1_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [391project1].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [391project1]
GO
/****** Object:  Table [dbo].[cart]    Script Date: 2024-02-10 4:07:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cart](
	[studentID] [nchar](10) NOT NULL,
	[courseID] [nchar](10) NOT NULL,
	[sectionID] [nchar](10) NOT NULL,
	[semester] [nchar](10) NOT NULL,
	[year] [nchar](10) NOT NULL,
 CONSTRAINT [PK_cart] PRIMARY KEY CLUSTERED 
(
	[studentID] ASC,
	[courseID] ASC,
	[sectionID] ASC,
	[semester] ASC,
	[year] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[course]    Script Date: 2024-02-10 4:07:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[course](
	[courseID] [nchar](10) NOT NULL,
	[courseName] [nvarchar](50) NULL,
	[deptName] [nvarchar](80) NULL,
 CONSTRAINT [PK_course] PRIMARY KEY CLUSTERED 
(
	[courseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[department]    Script Date: 2024-02-10 4:07:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[department](
	[deptName] [nvarchar](80) NOT NULL,
 CONSTRAINT [PK_department] PRIMARY KEY CLUSTERED 
(
	[deptName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[instructor]    Script Date: 2024-02-10 4:07:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[instructor](
	[instructorID] [nchar](10) NOT NULL,
	[firstName] [nvarchar](50) NOT NULL,
	[lastName] [nvarchar](50) NOT NULL,
	[deptName] [nvarchar](80) NOT NULL,
	[departmentHead] [nchar](10) NOT NULL,
 CONSTRAINT [PK_instructor] PRIMARY KEY CLUSTERED 
(
	[instructorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[prereq]    Script Date: 2024-02-10 4:07:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[prereq](
	[courseID] [nchar](10) NOT NULL,
	[prereqID] [nchar](10) NOT NULL,
 CONSTRAINT [PK_prereq] PRIMARY KEY CLUSTERED 
(
	[courseID] ASC,
	[prereqID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[section]    Script Date: 2024-02-10 4:07:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[section](
	[courseID] [nchar](10) NOT NULL,
	[sectionID] [nchar](10) NOT NULL,
	[semester] [nchar](10) NOT NULL,
	[year] [nchar](10) NOT NULL,
	[capacity] [nchar](10) NOT NULL,
	[enrolledCount] [nchar](10) NOT NULL,
	[instructorID] [nchar](10) NULL,
	[timeSlotID] [nchar](10) NULL,
	[day] [nchar](10) NULL,
	[startTime] [time](7) NULL,
 CONSTRAINT [PK_section] PRIMARY KEY CLUSTERED 
(
	[courseID] ASC,
	[sectionID] ASC,
	[semester] ASC,
	[year] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[student]    Script Date: 2024-02-10 4:07:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[student](
	[studentID] [nchar](10) NOT NULL,
	[firstName] [nvarchar](50) NOT NULL,
	[lastName] [nvarchar](50) NOT NULL,
	[buildingNo] [nvarchar](50) NOT NULL,
	[street] [nvarchar](50) NOT NULL,
	[city] [nvarchar](50) NOT NULL,
	[province] [nvarchar](50) NOT NULL,
	[country] [nvarchar](50) NOT NULL,
	[postalCode] [nchar](10) NOT NULL,
 CONSTRAINT [PK_student] PRIMARY KEY CLUSTERED 
(
	[studentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[takes]    Script Date: 2024-02-10 4:07:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[takes](
	[studentID] [nchar](10) NOT NULL,
	[courseID] [nchar](10) NOT NULL,
	[sectionID] [nchar](10) NOT NULL,
	[semester] [nchar](10) NOT NULL,
	[year] [nchar](10) NOT NULL,
	[grade] [nchar](10) NULL,
	[active] [nchar](10) NOT NULL,
 CONSTRAINT [PK_takes] PRIMARY KEY CLUSTERED 
(
	[studentID] ASC,
	[courseID] ASC,
	[sectionID] ASC,
	[semester] ASC,
	[year] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[timeSlot]    Script Date: 2024-02-10 4:07:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[timeSlot](
	[timeSlotID] [nchar](10) NOT NULL,
	[day] [nchar](10) NOT NULL,
	[startTime] [time](7) NOT NULL,
	[endTime] [time](7) NOT NULL,
 CONSTRAINT [PK_timeSlot_1] PRIMARY KEY CLUSTERED 
(
	[timeSlotID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[cart]  WITH CHECK ADD  CONSTRAINT [FK_cart_section] FOREIGN KEY([courseID], [sectionID], [semester], [year])
REFERENCES [dbo].[section] ([courseID], [sectionID], [semester], [year])
GO
ALTER TABLE [dbo].[cart] CHECK CONSTRAINT [FK_cart_section]
GO
ALTER TABLE [dbo].[cart]  WITH CHECK ADD  CONSTRAINT [FK_cart_student] FOREIGN KEY([studentID])
REFERENCES [dbo].[student] ([studentID])
GO
ALTER TABLE [dbo].[cart] CHECK CONSTRAINT [FK_cart_student]
GO
ALTER TABLE [dbo].[course]  WITH CHECK ADD  CONSTRAINT [FK_course_course] FOREIGN KEY([deptName])
REFERENCES [dbo].[department] ([deptName])
GO
ALTER TABLE [dbo].[course] CHECK CONSTRAINT [FK_course_course]
GO
ALTER TABLE [dbo].[instructor]  WITH CHECK ADD  CONSTRAINT [FK_instructor_department] FOREIGN KEY([deptName])
REFERENCES [dbo].[department] ([deptName])
GO
ALTER TABLE [dbo].[instructor] CHECK CONSTRAINT [FK_instructor_department]
GO
ALTER TABLE [dbo].[section]  WITH CHECK ADD  CONSTRAINT [FK_section_course] FOREIGN KEY([courseID])
REFERENCES [dbo].[course] ([courseID])
GO
ALTER TABLE [dbo].[section] CHECK CONSTRAINT [FK_section_course]
GO
ALTER TABLE [dbo].[section]  WITH CHECK ADD  CONSTRAINT [FK_section_instructor] FOREIGN KEY([instructorID])
REFERENCES [dbo].[instructor] ([instructorID])
GO
ALTER TABLE [dbo].[section] CHECK CONSTRAINT [FK_section_instructor]
GO
ALTER TABLE [dbo].[takes]  WITH CHECK ADD  CONSTRAINT [FK_takes_section] FOREIGN KEY([courseID], [sectionID], [semester], [year])
REFERENCES [dbo].[section] ([courseID], [sectionID], [semester], [year])
GO
ALTER TABLE [dbo].[takes] CHECK CONSTRAINT [FK_takes_section]
GO
ALTER TABLE [dbo].[takes]  WITH CHECK ADD  CONSTRAINT [FK_takes_student] FOREIGN KEY([studentID])
REFERENCES [dbo].[student] ([studentID])
GO
ALTER TABLE [dbo].[takes] CHECK CONSTRAINT [FK_takes_student]
GO
/****** Object:  StoredProcedure [dbo].[addToCart]    Script Date: 2024-02-10 4:07:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[addToCart]
(
@studentID nvarchar(10) = NULL,
@courseID nvarchar(10) = NULL,
@sectionID nvarchar(10) = NULL,
@semester nvarchar(10) = NULL, 
@year nvarchar(10) = NULL
)
AS
begin
    begin try
        begin transaction
            INSERT INTO cart(studentID, courseID, sectionID, semester, year)
            VALUES (@studentID, @courseID, @sectionID, @semester, @year)
        commit transaction
    end try
    begin catch
        PRINT 'Error: ' + ERROR_MESSAGE()
    end catch
end
GO
/****** Object:  StoredProcedure [dbo].[enrolInSection]    Script Date: 2024-02-10 4:07:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[enrolInSection]
(
@studentID nvarchar(10) = NULL,
@courseID nvarchar(10) = NULL,
@sectionID nvarchar(10) = NULL,
@semester nvarchar(10) = NULL, 
@year nvarchar(10) = NULL,
@active nvarchar(10) = 'active'
)
AS
BEGIN
    BEGIN TRY
        BEGIN TRANSACTION
            print('begin')
            INSERT INTO takes(studentID, courseID, sectionID, semester, year, active)
            SELECT studentID, courseID, sectionID, semester, year, 'active'
            FROM cart
            WHERE cart.studentID = @studentID and cart.semester = @semester and cart.year = @year and cart.courseID = @courseID and cart.sectionID = @sectionID

            DELETE FROM cart
            WHERE cart.studentID = @studentID and cart.semester = @semester and cart.year = @year and cart.courseID = @courseID and cart.sectionID = @sectionID
            print('complete')
        COMMIT TRANSACTION
    END TRY
    BEGIN CATCH
        PRINT 'Error: ' + ERROR_MESSAGE()
        ROLLBACK TRANSACTION
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[viewAvailableCourses]    Script Date: 2024-02-10 4:07:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[viewAvailableCourses]
(
@query nvarchar(200) = NULL
)
as
begin
    begin try
    print('trying')
        begin transaction
            IF @query IS NOT NULL AND @query != ''
        BEGIN
            -- Execute dynamic SQL
            EXEC sp_executesql @query;
        END
        ELSE
        BEGIN
            print('no query provided')
        END
        commit transaction
        print('transaction')
    end try
    begin catch
        PRINT 'Error: ' + ERROR_MESSAGE()
    end catch
end
GO
USE [master]
GO
