<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="DefaultConnection"
			 connectionString="Server=desktop-de3cp0q\localdb#8d93c977; Database=desktop-de3cp0q\localdb#8d93c977.master.dbo; User ID=your_username; Password=your_password;"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>
